# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
build/

# Builds
bin/
deps/vecmath/CMakeFiles
deps/vecmath/Makefile
deps/vecmath/cmake_install.cmake

# Outputs
output*/

# VSCode
.vscode/

# Big obj files
mesh/